@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* user-select: none; */
    /* ::-webkit-scrollbar {
        width: 10px;
    } */
}

.paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    /* font-weight: 400;
    font-style: normal;
    color: black; */
}

.bi-search {
    cursor: pointer;
}

body {
    overflow-x: hidden;
    background-color: #ffffff;
}

#yellow {
    color: #FBBC05;
    font-weight: 700;
}

.ani-text {
    -webkit-animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both;
    animation: text-focus-in 1s cubic-bezier(.55, .085, .68, .53) both
}

.dog-imagee {
    -webkit-animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both;
    animation: scale-up-center .4s cubic-bezier(.39, .575, .565, 1.000) both
}
.text-focus-in {
	-webkit-animation: text-focus-in 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
	        animation: text-focus-in 500ms cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards;
}
@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0
    }

    100% {
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
